.app-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #282c34;
    color: white;
}

.app-title{
    font-size: 2rem;
    margin-left: .5rem;
}

.app-chat{
    background-color: #5D6169;
    height: 80%;
    display: flex;
    width: 99%;
    margin: 0.5rem;
    border-radius: 5px;
}

.app-input{
    background-color: #5D6169;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
    max-height: fit-content;
    display: flex;
    width: 99%;
    margin: 0.5rem;
    border-radius: 5px;
}
.app-input-field{
    background-color: #888D95;
    height: 25px;
    display: flex;
    width: 100%;
    margin: 0.5rem;
}

.app-input-button{
    background-color: #888D95;
    height: 25px;
    display: flex;
    width: 50px;
    margin: 0.2rem;
    border-radius: 5px;
}